.git
.github
.idea
.vscode

docker-compose*.yml

src/.config
src/.env
src/node_modules
src/storage/logs/*.log
src/storage/framework/cache/data/*
src/storage/framework/sessions/*
src/storage/framework/views/*
