version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./src:/var/www
    env_file: 
      - ./src/.env 
    networks:
      - app-network

  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE:-laravel}
      POSTGRES_USER: ${DB_USERNAME:-user}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-secret}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT:-5432}:5432"
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME:-user} -d ${DB_DATABASE:-laravel}"]
      interval: 5s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:alpine
    container_name: nginx_server
    restart: unless-stopped
    ports:
      - "${APP_PORT:-8000}:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
    depends_on:
      - app
      
  worker:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    container_name: laravel_worker
    command: >
      sh -c "php artisan config:clear && 
              php artisan cache:clear && 
              echo 'Cache limpo, iniciando worker...' && 
              php artisan queue:work --verbose --sleep=3 --tries=3 --timeout=120"
              
    environment:
      - LOG_CHANNEL=stderr
    volumes:
      - ./src:/var/www
      
    env_file:
      - ./src/.env
      
    depends_on:
      db:
        condition: service_healthy
      app:
        condition: service_started
      rabbitmq:
        # --- MUDANÇA 2: ESPERAR O RABBITMQ ESTAR SAUDÁVEL ---
        condition: service_healthy 
    networks:
      - app-network
    restart: always

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  maildev:
    image: maildev/maildev
    container_name: maildev
    ports:
      - "1080:1080"
      - "1025:1025"
    networks:
      - app-network

  redis:
    image: redis:6-alpine
    container_name: redis_cache
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

  
  redis-commander:
    image: rediscommander/redis-commander
    container_name: redis_commander
    restart: unless-stopped
    ports:
      - "8081:8081" 
    environment:
      - REDIS_HOST=redis 
    networks:
      - app-network
    depends_on:
      - redis


networks:
  app-network:
    driver: bridge

volumes:
  db-data:
    driver: local
  redis-data:
    driver: local